/* Fundo geral */
body {
  background-color: #f4f3f2;
}

/* Barra de navegação */
.nav-tab {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 999px;
}

.nav-tab.active {
  background-color: #eeeeee;
}

.nav-tab:hover {
  text-decoration: underline;
}

.tab-link:hover {
  text-decoration: underline;
}

/* Estilo da aba ativa */
.tab-active {
  background-color: #0F19230D;
  color: #0F1923;
  font-weight: 600;
  border-radius: 12px;
  padding: 8px 16px;
  text-decoration: none;
}

/* Estilo das abas inativas */
.tab-inactive {
  background: none;
  color: #000;
  font-weight: 600;
  padding: 8px 16px;
  text-decoration: none;
}

.tab-inactive:hover {
  text-decoration: underline;
}

/* Cartões da lista */
.list-group-item {
  background-color: #f4f3f2;
  border: none;
  border-radius: 0;
  padding: 16px;
  font-weight: 500;
}

.list-group-item .menu {
  cursor: pointer;
  font-weight: bold;
  color: #444;
}